.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 50px 96px 50px;
}
.header__menu {
  padding-top: 44px;
}
.header__links-list {
  display: flex;
  gap: 30px;
}
.header__link {
  text-decoration: none;
  border-bottom: none;
}
.header__links-list-item {
  font-size: 18px;
  list-style: circle;
}
.header__link_active {
  border-bottom: 1px solid;
  text-decoration: none;
  letter-spacing: 0.03rem;
}
.header__links-list-item_no_circle {
  list-style: none;
}
.header__logo-image {
  height: 105px;
}
.address {
  width: 240.52px;
  height: 98px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02rem;
  padding-top: 5px;
}
.header__address {
  justify-self: end;
}

.address__telephone {
  text-decoration: none;
  border-bottom: 1px solid #000;
  letter-spacing: 0;
}

.address__mail {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.cover {
  padding: 165px 50px 51px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.cover__title {
  position: relative;
  font-size: 100px;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3em;
  gap: 20px;
}
.aligned-text {
  display: block;
  line-height: 115px;
}
.aligned-text_center {
  text-align: center;
  line-height: 100px;
}
.aligned-text_right {
  text-align: right;
  line-height: 100px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.no-letter-spacing {
  letter-spacing: 0;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  opacity: 60%;
  z-index: -1;
  inset: 0;
}

.cover__description {
  display: flex;
  margin-top: 135px;
  align-items: center;
  gap: 79px;
  justify-content: flex-end;
}
.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  color: white;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  font-size: 22px;
  line-height: 25.83px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
}

.lots {
  padding: 179px 24px 0px 24px;
}
.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 46.96px;
  color: black;
  padding-left: 40px;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 25px;
}

.lots__card-list-item {
  max-width: 334px;
  max-height: 563px;
}

.card-link {
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 51px 40px 48px 40px;
  height: 100%;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -2;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -2;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -2;
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 26.4px;
  color: white;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  line-height: 23.48px;
  color: black;
  padding-left: 40px;
  padding-top: 30px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  padding: 146px 24px 0px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 25px;
}
.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
}
.about__logo-image {
  justify-self: center;
  width: 148px;
  height: 114px;
}
.about__column {
  display: flex;
  min-width: 693px;
  min-height: 449px;
  padding-top: 137px;
  flex-direction: column;
  gap: 100px;
}

.about__title {
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: normal;
  gap: 26px;
  letter-spacing: 0.01em;
}

.letter__0 {
  letter-spacing: 0em;
}
.letter__1 {
  letter-spacing: 0.01em;
}
.letter__2 {
  letter-spacing: 0.02em;
}
.letter__-1 {
  letter-spacing: -0.01em;
}
.letter__3 {
  letter-spacing: 0.03em;
}
.letter__4 {
  letter-spacing: 0.04em;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 149px 1fr;
  padding: 180px 50px 88px 50px;
}
.address {
  width: 240.52px;
  height: 98px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02rem;
}
.footer__address {
  justify-self: start;
}

.address__telephone {
  text-decoration: none;
  border-bottom: 1px solid #000;
  letter-spacing: 0;
}

.address__mail {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__menu-link {
  text-decoration: none;
  border-bottom: none;
}
.footer__menu-list-item {
  font-size: 18px;
  list-style: none;
}

.footer__menu-link_active {
  border-bottom: 1px solid;
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
